/* ___MOBILE FIRST___ */


@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #C36A2D;
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;

}

:root{
    --primary: #C36A2D;
    --secondary: #FBFBFB;
}


header{
    padding: 15px;
    height: 15vh;
    background: linear-gradient(180deg, rgba(226,194,117,1) 70%, rgba(195,106,45,1) 100%);
}
.navDesktop{
    display: none;
}

.navMobile{
    height: 10vh;
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.bar-btn{
    position: relative;
    font-size: 2em;
    max-width: 10vh;
    color:#C36A2D;
    text-shadow: 3px 3px 3px #49240e;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 15vh;
    background:rgba(226, 194, 117, .8);
    text-align: center;
    border-radius: 0px 0px 0px 10px;
}
.nav-menu li{
    display: none;
    font-size: 1em;
    margin: 10px 0;
}

.nav-menu li a {
    display: block;
    line-height: 30px;
    margin: 30px 0;
    font-weight: 900;
    text-decoration: none;
    text-shadow:  1px 1px #49240e;
} 

#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height:fit-content;
}

#check:checked ~ .nav-menu li {
    display:block;
}

#imglogo{
    width: auto;
    margin-left: 20px;
}
#imglogo img{
    border-radius: 100%;
    width: 10vh;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: groove;
    border-width: 2px;
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-image: linear-gradient(#FBFBFB 50%, #E2C275);
}

.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.banner p{
    margin: 0px 15px 0px 15px
}

#bannerImg{
    max-width: 100%;
}
.products h2{
    margin-bottom: 50px;
    font-size: 30px;
    text-shadow: 2px 2px 2px #000000;
}
.title-word{
    animation: color-animation 4s linear infinite;
}

.title-word.title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}

.title-word.title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}

.title-word.title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}

.title-word.title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

  /* Here are just some visual styles. 🖌 */

.services{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}


.services article{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40vw;
    max-width: 60vw;
    width: 60vw;
    height: auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: groove;
    background: radial-gradient(50% 50% at 50% 50%, rgba(187, 192, 197, 0.301) 0%, rgba(228, 228, 220, 0.158) 30.21%, #595f682c 50%);
}
.productImg{
    border-radius: 20px;
    height: 20vh;
    width: 80%;
    object-fit: contain;

}
button{
    width: 15vw;
    height: 8vw;
    color:#1B2430;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 3vw;
    text-align: center;
}
.services article p{
    height: 10vh;
}
.services article div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
button:hover{
    background-color: gray;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
}

button img{
    height: 5vw;
    width: 10vw;
}

.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    max-width: 100%;
    align-items: center;
    text-shadow: 1px 1px 1px #1B2430;

}

.nosotros article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: radial-gradient(50% 50% at 50% 50%, #bbc0c54d 0%, rgba(228, 228, 220, 0.158) 30.21%, #595f682c 50%);
    border-radius: 20px;
    width: 80%;
    height: auto;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: groove;
}
.nosotros article div p{
    margin-inline: auto;
}

.nosotros img{
    width: 90%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    
}
.nosotros h2{
    font-size: 20px;
    margin-bottom: 30px;
}
.nosotros p{
    font-size: 16px;
    width: 70%;
    height: auto;
    
}

footer{
    background-image: url("assets/images/footer-partitura-opacity.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 50vh;
}
.despedida{
    color: black;
    font-size: 2.3vh;
    text-shadow: 3px 3px 3px #eeb93e;
    margin-inline: 0.5em;
}

.redes img{
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
}
.logoFooter{
    display: none;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 20vh;
}
footer div ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: black;
    font-size: 2.5vh;
    text-shadow: 3px 3px 3px #eeb93e;
}
footer div ul li{
    color: #1B2430;
    font-weight:900;
}footer div ul li:hover{
    background-color: rgba(195, 106, 45, .5);
    border-radius: 30px;
}
footer div ul li a{
    color: #1B2430;
    text-decoration: none;
}
footer div p{
    width: 33%;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 3vw;
    text-shadow: 3px 3px 3px #eeb93e;

}
.redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-shadow: 3px 3px 3px #eeb93e;
    background-color: rgba(236, 162, 24, 0.322);
    width: 80%;
    justify-content: space-around;
    border-radius: 20px;
    margin-bottom: 10px;
}
.redes a{
    position: relative;
    top: 3px;
}
.redes p{
    color: black;
    font-size: 1.5vh;
    text-shadow: 3px 3px 3px #eeb93e;
}
.redes a:hover{
    background-color:rgba(255, 255, 255, 0.616);
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 100%;
    background-size: auto;
}
.mapGoogle{
    display: none;
}


/* DETAIL PRODUCT */

#detailProduct{
    margin: 10%;
    padding: 5%;
    border-radius: 20px;
    border: black;
    border-style: groove;
    background: radial-gradient(50% 50% at 50% 50%, rgba(187, 192, 197, 0.301) 0%, rgba(228, 228, 220, 0.158) 30.21%, #595f682c 50%);    
}
#detailProduct img{
    border-radius: 20px;
    width: 90%;
}
#detailProduct p{
    font-size: medium;
}



/* CARRITO */

.carrito{
    margin: 5%;
    padding: 2%;
    border-radius: 10px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(187, 192, 197, 0.301) 0%, rgba(228, 228, 220, 0.158) 30.21%, #595f682c 50%);
    display: flex;
    flex-direction: column;
}
.carrito article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.carrito article button{
    height: 7vw;
    min-height: 7vw;
    width: 7vw;
    border-radius: 100%;
}
.carrito h2{
    font-size: 1.5vh;
}
.carrito article img{
    width: 20vw;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.carrito article p{
    font-size: 1.5vh;

}
.carrito article a{
    font-size: 1.5vh;
}

#cantidadCarrito p{
    font-size: 2vh;
}
.priceAndRemove{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.5vh;
}
.botonesComprar{
    display: flex;
    justify-content: center;
}
.botonesComprar button{
    width: 20vw;
    height: 5vh;
    margin: 20px;
}


/* LOGIN FORM */

form{
    background: radial-gradient(50% 50% at 50% 50%, rgba(187, 192, 197, 0.301) 0%, rgba(228, 228, 220, 0.158) 30.21%, #595f682c 50%);
    max-width: 70%;
    margin: 20px auto;
    padding: 10px;
    font-size: 15px;
}
form input{
    margin-bottom: 10px;
}
form input, label{
    width: 100%;
}
form input[type="radio"], input[type="checkbox"]  {
    width: 10%;
}
form button{
    text-align: center;
    font-size: medium;
    width: auto;
    height: auto;
    padding: 5px;
}
form textarea{
    width: 100%;
}

.registerForm form{
    text-align: left;
}
.registerForm input{
    text-align: left;
}


/* DESKTOP */

@media (min-width: 1024px) {

/* MAIN */

    header{
        height: 11vh;
        background: linear-gradient(180deg, rgba(226,194,117,1) 70%, rgba(195,106,45,1) 100%);
    }
    .navDesktop{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .navMobile{
        display:none;
    }
    .nav-menuD{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-menuD li{
        display: flex;
        list-style: none;
        height: 8vh;
        width: 7vw;
        align-items: center;
        justify-content: center;
        margin-inline: 50px;
    }
    .nav-menuD li:hover{

        background: url("assets/images/claveypenta-sinfondo-opacity.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        border-radius: 15%;
        align-items: center;
    }
    
    .nav-menuD li a{
        color: #ffffff;
        text-shadow:3px 3px 3px #1B2430;
        text-decoration: none;
        font-weight: bold;
    }
    .nav-menuD li a:active{
        color: #868686;
    }
    #imglogo{
        height: 8vh;
        width: 8vh;

    }
    #burgerMenu{
        display: none;
    }

    .banner p{
        font-size: 2.7vh;
    }
    

    #bannerImg{
        width: 100%;
        height: 20vh;
        object-fit: cover;
        object-position: bottom;
    }


    .products{
        margin-top: 50px;
    }
    .services{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .services article{
        min-width: 20%;
        width: 20%;
        height: 20%;
        padding: 10px;
        border-radius: 20px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(187, 192, 197, 0.301) 0%, rgba(228, 228, 220, 0.158) 30.21%, #595f682c 50%);
    }
    button{
        width: 6vw;
        height: 3vw;
        color:#1B2430;
        font-weight: bolder;
        border-radius: 5px;
        font-size: 1vw;
        text-align: center;
    }
    button img{
        width: 4vw;
        height: 2vw;
    }

    .nosotros{
        gap: 0px;
        margin-top: 20px;
    }
    .nosotros article{
        margin-block: 10px;
        padding: 10px;
        background: linear-gradient(90deg, rgba(215,215,215,0.3393732492997199) 0%, rgba(97,97,97,0.36738445378151263) 100%);
        border-radius: 10px;
        width: 80vw;
        height: 30vh;
        border-style: groove;
    }

    .nosotros article div{
        display: flex;
        width: 100vw;
        margin: 10px;
    }
    .nosotros article div img{
        object-fit: cover;
        height: 18vh;
        border-radius: 20px 100px 100px 20px;
    }
    .nosotros article div p{
        margin-block: auto;
    }
    #lutheria{
        align-self: flex-start;
        align-items: center;
        justify-content: center;
    }
    #sucursales{
        align-self: flex-end;
        align-items: center;
        justify-content: center;
    }
    #sucursales img{
        border-radius: 100px 20px 20px 100px
    }
    #trabaja{
        align-self: flex-start;
        align-items: center;
        justify-content: center;
    }
    #trabaja img{
        object-position: top;
    }

    footer{
        height: 30vh;
        bottom: 0px;
    }
    .logoFooter{
        display: block;
        position: absolute;
        margin: 2em;
        margin-top: 3em;
        left: 40px;
        width: 10vw;
        height: 10vh;
    }
    .logoFooter img{
        border-radius: 100%;
        border-style:double;
        border-width: 5px;
        border-color: #7c7c7c71;
    }

    .mapGoogle{
        display: block;
        position: absolute;
        margin: 2em;
        right: 40px;
        width: 20vw;
        height: auto;
        border-radius: 15px;
    }
    .despedida{
        font-size: 1.2em;
    }
    footer div p{
        font-size: small;
    }
    footer div ul{
        gap: 30px;
        flex-direction: row;
        margin-bottom: 40px;
        font-size: 1.7em;
    }
    .redes{
        background-color: rgba(236, 162, 24, 0.322);
        width: 30vw;
        justify-content: space-around;
        border-radius: 20px;
    }
    /* DETAIL PRODUCTS DESKTOP */
    
    .detailMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    #detailProduct{
        width: 30%;
        height: 40%;
        margin: 0%;
        padding: 2%;
    }
    #detailProduct img{
        width: 50%;
    }
    #detailProduct p{
        font-size: 14px;
}

/* FORMS */

/*LOGIN*/
.loginMain{
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
}
.loginMain img{
    width: 50vw;
    height: 60vh;
    object-fit: cover;
}

form{
    max-width: 30%;
    margin: 20px auto;
    padding: 10px;
    font-size: 15px;
}
form input, label{
    width: 100%;
}
form input[type="radio"], input[type="checkbox"]  {
    width: 10%;
}
form button{
    text-align: center;
    font-size: medium;
    width: auto;
    height: auto;
    padding: 5px;
}

.registerForm form{
    text-align: left;
}
.registerForm input{
    text-align: left;
}

.carrito{
    
    width: 70vw;
    margin-inline: auto;
}

.carrito article button{
    height: 3vw;
    min-height: 3vw;
    width: 3vw;
    border-radius: 100%;
}
.carrito h2{
    font-size: 2vh;
}
.carrito article img{
    width: 10vw;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.carrito article p{
    font-size: 2vh;

}
.carrito article a{
    font-size: 2vh;
}

#cantidadCarrito p{
    font-size: 2vh;
}
.priceAndRemove{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.5vh;
}
}

/* CART */

